@import 'variables';

.container {
    padding: 5%;
    max-width: 1024px;
    margin: 0 auto;
}

.grid {
    >div {
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        float: right;
        border: solid 3px $border-color;
        background-color: $news-bg-color;
        padding-bottom: 100%;
        margin-bottom: -100%;
        border-radius: 15px;
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}